* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root div {
  width: 500px;
}
#root .todosCount {
  font-weight: 100;
  font-size: 5rem;
  margin: auto;
}
#root .listContainer {
  overflow: hidden;
}
#root .todoList {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: scroll;
  height: 500px;
  width: 520px;
}
#root .todoList li {
  background-color: #DACF9C;
  margin: 0 0 5px;
  font-size: 2rem;
  width: 100%;
  overflow-wrap: break-word;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
#root .todoList .done {
  background-color: #6EAA91;
  color: white;
}
#root .todoForm input {
  padding: 10px;
  height: 50px;
  width: 100%;
  font-size: 2rem;
  overflow: visible;
  border: none;
}
#root .todoForm input:focus {
  outline: none;
}
#root .clearButton {
  width: 100%;
  height: auto;
  background: #263D3A;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
